<!DOCTYPE html>
<html>
<%- include('../Fixed/Header.ejs'); %>

    <body class="skin-black">
            
        <%- include('../Fixed/HeaderLogo.ejs'); %>


        <div class="wrapper row-offcanvas row-offcanvas-left">
            <%- include('../Fixed/NavBar.ejs'); %>

                <!-- Right side column. Contains the navbar and content of the page -->
                <aside class="right-side">
                    <!-- Main content -->
                    <section class="content">
                        <div class="table-responsive">
                            <div class="col-sm-12 text-center">
                                <button class="btn btn-info" onclick="window.location.href='/admin/new/training'">
                                    <i class="fa fa-plus-square"></i> New intent </button>
                                <button class="btn btn-success buildA">
                                    <i class="fas fa-sync"></i> Build agent</button>
                            </div>
                            <br>
                            <br>
                            <!-- .table - Uses sparkline charts-->
                            <div class="col-sm-12">                                
                                <table class="table table-striped text-center" id="intets">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Tag</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% intents.forEach(function(customer){ %>
                                            <tr>
                                                <td>
                                                    <%= customer.title %>
                                                </td>
                                                <td>
                                                    <a href="/admin/edit/<%= customer.tag %>">
                                                        <%= customer.tag %>
                                                    </a>
                                                </td>
                                                <td>
                                                    <button class="btn btn-sm btn-danger" onclick="Delete('<%= customer.tag %>')">
                                                        <i class="fas fa-trash"></i>
                                                    </button> &nbsp; 
                                                    <button class="btn btn-sm btn-success" onclick="window.location.href='/admin/training/<%= customer.tag %>'">
                                                        <i class="fas fa-graduation-cap"></i>
                                                    </button>
                                                    &nbsp;
                                                    <button class="btn btn-sm btn-primary" onclick="window.location.href='/admin/link/<%= customer.tag %>'">
                                                        <i class="fas fa-bezier-curve"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        <% }) %>
                                    </tbody>

                                </table>
                            </div>
                            <!-- /.table -->
                        </div>
                    </section>
                    <!-- /.content -->

                </aside>
                <!-- /.right-side -->
        </div>
        <!-- ./wrapper -->


        <%- include('../Fixed/footer.ejs'); %>

    </body>
    <script>      
        function Delete(v){
            swal({
                title: "Are you sure to delete ?",
                text: "You will not be able to recover this Intent !!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it !!",
                closeOnConfirm: false
            },
            function(){
                $.ajax({
                    type: "POST",
                    url: "/api/intent/delete",
                    data: {                    
                        tag: v                                         
                    },
                    success: function(msg){                             
                        swal("Success !!", msg, "success");
                        setTimeout(function(){
                            location.reload();
                        },1000)
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        sweetAlert("Oops...", XMLHttpRequest.responseText, "error");
                    }
                }); 
                swal("Deleted !!", "Intent deleted", "success");
            });
        }

        $( document ).ready(function() {
            console.log( "ready!" );
            document.querySelector('.buildA').onclick = function () {
                swal({
                    title: "Build Agent !",
                    text: "are you sure ?",
                    type: "info",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true,
                },
                function () {
                    $.ajax({
                        url: "/api/build",
                        type: "POST",
                        data: {},
                        dataType: "text xml",
                        success: function (xml, textStatus, xhr) {
                            if (xhr.status != 200) {
                                sweetAlert("Oops...", xhr.responseText, "error");
                            } else {
                                swal("Success !!", xhr.responseText, "success");
                            }
                        },
                        complete: function (xhr, textStatus) {
                            if (xhr.status != 200) {
                                sweetAlert("Oops...", xhr.responseText, "error");
                            } else {
                                swal("Success !!", xhr.responseText, "success");
                            }
                        }
                    });
                });
            };

            $('#intets').DataTable({
                "bPaginate": true,
                "bLengthChange": false,
                "bFilter": true,
                "bInfo": false,
                "bAutoWidth": false
            });
        });
        
    </script>

</html>