<!DOCTYPE html>
<html>
    <%- include('../Fixed/Header.ejs'); %>
    
    <body class="skin-black">
        <%- include('../Fixed/HeaderLogo.ejs'); %>


        <div class="wrapper row-offcanvas row-offcanvas-left">
            <%- include('../Fixed/NavBar.ejs'); %>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">    
                
                 <!-- Main content -->
                 <section class="content">                        
                    <div class="row">
                       <div class="col-md-12">
                           <!-- general form elements -->
                           <div class="box box-primary">
                               <div class="box-header">
                                   <h3 class="box-title">Train Intention</h3>
                               </div><!-- /.box-header -->
                               <!-- form start -->
                               <form role="form">
                                    <input type="hidden" id="idIntent" value="<%= intent._id %>">
                                   <div class="box-body">
                                       <div class="form-group">
                                           <label for="exampleInputEmail1">Tag</label>
                                           <input type="text" class="form-control" readonly="readonly" value="<%= intent.tag %>">
                                       </div>
                                       <div class="form-group">                                           
                                           <table class="table table-bordered">                                                
                                            <table class="table table-bordered" id='tableIP'> 
                                                <tr>
                                                    <th style="width: 90%">Patterns</th>
                                                    <th>Action</th>                                                       
                                                </tr>          
                                                <% intent.patterns.forEach(function(customer,i){ %>
                                                    <tr id="R<%= i %>">
                                                        <td><%= customer %></td>
                                                        <td><button class="btn btn-sm btn-danger" type="button" onclick="deletelist('R<%= i %>','<%= customer %>')">Delete <i class="fas fa-trash"></i></button></td>    
                                                    </tr>                                                            
                                                <% }) %>   
                                                <tr id="textC">
                                                    <td><input type="text" class="form-control newpattern" placeholder='Type new pattern'></td>
                                                    <td><button class="btn btn-sm btn-success appendB" type="button" onclick="Btnadd()">Add <i class="fas fa-save"></i></button></td>  
                                                </tr>                                                                           
                                            </table>
                                       </div>
                                   </div>
                                   <div class="box-footer text-center">
                                        <button type="button" class="btn btn-primary btn-lg" onclick="save()">Save</button>
                                    </div>
                               </form>
                           </div>
                       </div>
                    </div>
            </section><!-- /.content -->
             
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->


        <%- include('../Fixed/footer.ejs'); %>     
        
        <script>
            var deleteList = [];
            var appendlist = [];
       
            function Btnadd() {
                var textinp = $( '.newpattern' ).val();
                if(textinp.trim().length > 0){                  
                    var tr = $('#textC');
                    tr.css("background-color","#FF3700");
                    tr.fadeOut(400, function(){
                        tr.remove();
                    });
                    appendlist.push(textinp)
                    $( "#tableIP" ).append('<tr id="'+appendlist.length+'"><td>'+textinp+'</td><td><button class="btn btn-sm btn-danger" type="button" onclick="deletefromlist('+appendlist.length+')">Delete <i class="fas fa-trash"></i></button></td></tr>')
                    $( "#tableIP" ).append( '<tr id="textC"><td><input type="text" class="form-control newpattern" placeholder="Type new pattern"></td><td><button class="btn btn-sm btn-success" onclick="Btnadd()" type="button">Add <i class="fas fa-save"></i></button></td></tr>' );
                }             
            }

            function deletelist(el,v){
                document.getElementById(el).remove();  
                deleteList.push(v);
            }

            function deletefromlist(v){
                appendlist.splice(v - 1,1);               
                document.getElementById(v).remove(); 
            }

            function save(){
                if(deleteList.length > 0 || appendlist.length > 0){
                    $.ajax({
                        type: "POST",
                        url: "/api/intent/update/patterns",
                        data: {                   
                            id: $('#idIntent').val(),
                            delete: JSON.stringify(deleteList),
                            add: JSON.stringify(appendlist)                    
                        },
                        success: function(msg){                             
                            swal("Success !!", msg, "success");
                            setTimeout(function(){
                                location.reload();
                            },1000)
                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown) {
                            sweetAlert("Oops...", XMLHttpRequest.responseText, "error");
                        }
                    });       
                }else{
                    alert('Nothing to update')
                }          
            }
            
        </script>
            
    </body>
</html>